<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="_styles/bundle.css">
    <title>{{ title }}</title>
  </head>
  <body>
   <section>
    <span class="h-card">
      <img class="u-photo" src="https://indieweb.org/images/c/c7/ckz.jpg"/>
      <a class="p-name u-url" href="https://zimnicki.co/">Christoph Zimnicki</a>
      <!-- <a class="p-nickname" href="https://x.com/zimnickico/">@zimnickico</a> -->
    </span>
    {{ content }}
    </section>
  </body>
</html>
