@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
    --background: #ffffff;

    --foreground: #000000;
    --secondary: #7d7d7d;

    --p-24: 24px;
}

@theme inline {
    --color-background: var(--background);

    --color-foreground: var(--foreground);
    --color-secondary: var(--secondary);

    --padding-md: var(--p-24);
}

body {
    background: var(--background);
    color: var(--foreground);

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;

    letter-spacing: -0.3px;
}
