<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/global.css"/>
        <title>{{ title }}</title>
    </head>
    <body>
        {{ content | safe }}
        <ul>
            {%- for post in collections.post -%}
            <li>
                <p>{{ post.data.title }}</p>
                <a href="{{ post.url }}">[Read More]</a>
            </li>
            {%- endfor -%}
        </ul>
    </body>
</html>
