<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bundle.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="optioincentives">
      <section style="display: flex; overflow: scroll; padding-bottom: 12px; gap: 24px; scroll-behavior: smooth;">
        <img src="/public/portfolio18.png"/>
        <img src="/public/portfolio3.png"/>
        <img src="/public/portfolio1.png"/>
        <img id="17" src="/public/portfolio17.png"/>
     </section>
     <div style="display: flex; width: 95%; justify-content: space-between; padding: 0px 24px; color: #D6D3D2">
      <a>Optio Incentives</a>
      <a href="#17">More</a>
     </div>
    </div>
    <div id="artificiallabs">
      <section style="display: flex; overflow: scroll; padding: 24px 0px; gap: 24px; scroll-behavior: smooth;">
        <img src="/public/portfolio4.png"/>
        <img src="/public/portfolio5.png"/>
        <img src="/public/portfolio7.png"/>
        <img id="19" src="/public/portfolio19.png"/>
     </section>
     <div style="display: flex; width: 95%; justify-content: space-between; padding: 0px 24px; color: #D6D3D2">
      <a>Artificial Labs</a>
      <a href="#19">More</a>
     </div>
    </div>
    <div id="analog">
      <section style="display: flex; overflow: scroll; padding: 24px 0px; gap: 24px; scroll-behavior: smooth;">
        <img src="/public/portfolio11.png"/>
        <img id="20" src="/public/portfolio20.png"/>
     </section>
     <div style="display: flex; width: 95%; justify-content: space-between; padding: 0px 24px; color: #D6D3D2">
      <a>Analog</a>
      <a href="#20">More</a>
     </div>
    </div>
    <div id="dronetower">
      <section style="display: flex; overflow: scroll; padding: 24px 0px; gap: 24px; scroll-behavior: smooth;">
        <img src="/public/portfolio8.png"/>
        <img src="/public/portfolio9.png"/>
        <img id="10" src="/public/portfolio10.png"/>
     </section>
     <div style="display: flex; width: 95%; justify-content: space-between; padding: 0px 24px; color: #D6D3D2">
      <a>Drone Tower</a>
     </div>
    </div>
    <div id="outercomputer">
      <section style="display: flex; overflow: scroll; padding: 24px 0px; gap: 24px; scroll-behavior: smooth;">
        <img src="/public/portfolio2.png"/>
        <img id="13" src="/public/portfolio13.png"/>
     </section>
     <div style="display: flex; width: 95%; justify-content: space-between; padding: 0px 24px; color: #D6D3D2">
      <a>Outer</a>
      <a href="#13">More</a>
     </div>
    </div>
    <div id="undisclosed">
      <section style="display: flex; overflow: scroll; padding: 24px 0px; gap: 24px; scroll-behavior: smooth;">
        <img src="/public/portfolio14.png"/>
        <img src="/public/portfolio15.png"/>
        <img id="16" src="/public/portfolio16.png"/>
     </section>
     <div style="display: flex; width: 95%; justify-content: space-between; padding: 0px 24px; color: #D6D3D2">
      <a>Undisclosed</a>
      <a href="#16">More</a>
     </div>
    </div>
    <div id="undisclosed2">
      <section style="display: flex; overflow: scroll; padding: 24px 0px; gap: 24px; scroll-behavior: smooth;">
        <img src="/public/portfolio21.png"/>
        <img id="22" src="/public/portfolio22.png"/>
     </section>
     <div style="display: flex; width: 95%; justify-content: space-between; padding: 0px 24px; color: #D6D3D2">
      <a>Undisclosed</a>
      <a href="#22">More</a>
     </div>
    </div>
    {{ content }}
  </body>
</html>
